@media screen and (min-width:1081px) {
    div#table main div#dashboard button#aboutP{
        background: center/ contain no-repeat url('../resources/about.png'), #05386b;
        background-size: 30%;
    }
    div#table main div#dashboard button#convertP{
        background: center/ contain no-repeat url('../resources/convert.svg'), #05386b;
        background-size: 30%;
    }
    div#table main div#dashboard button#referencesP{
        background: center/ contain no-repeat url('../resources/references.png'), #05386b;
        background-size: 30%;
    }
    div#table main div#dashboard button#contactP{
        background: center/ contain no-repeat url('../resources/contact.png'), #05386b;
        background-size: 30%;
    }
    html, body{
        max-width: 100vw;
        overflow-x: hidden;
    }
    .tab{
        display:none;
    }
    div#table nav img#navicon{
        display: none;
    }
    div#table nav ul#menu li,h4#title{
        list-style-type:none;
        padding: 1vw;
    }
    div#table nav{
        background-color: #05386b;
        width: 15vw;
        text-align: center;
        height: 100vh;
        font-size: 2vw;
        color:white;
        padding: 2vw;
        float: left;
        position: fixed;
        top: 0;
        left: 0;
    }
    div#table main{
        clear: none;
        width: 85vw;
        height: 100vh;
        float: right;
    }
    div#table main div#dashboard{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 5%;
        column-gap: 5%;
        padding: 5%;
    }
    div#table main div#dashboard button{
        width: 15vw;
        height: 20vw;
        border-radius: 10%;
        border: none;
    }
    div#table main div#convert{
        grid-template-columns: 0.5fr 2fr 0.5fr;
        padding: 3vw;
    }
    div#table main div#convert button{
        width: 13vw;
        height: 13vw;
        border-radius: 10%;
        border: none;
        font-size: 2vw;
    }
    div#table main div#convert button#upload{
        background-color: #ffe994;
    }
    div#table main div#convert button#convertB{
        background-color: #5cdb95;;
    }
    div#table main div#convert section#format{
        width: 100%;
        font-size: 2vw;
        padding:2vw 2vw 0 2vw;
    }
    div#table main div#convert section#format div{
        text-align: center;
    }
    div#table main div#convert img#startFile, img#endFile, img#arrow{
        display: inline-block;
        width: 5vw;
        margin: 7% 2% 7% 2%;
    }
    div#table main div#convert table#fileList{
        grid-column: auto / span 4;
        text-align: center;
        overflow: scroll;
    }
    div#table main div#convert table#fileList tr th{
        background-color:#ababab;
        width: 100vw;
        font-size: 2vw;
    }
    div#table main div#convert table#fileList tr td.file img.fileImage{
        width: 20vw;   
        display: block;
        margin: auto;
    }
    div#table main div#convert table#fileList tr td.file{
        width: 50vw;
        text-align: center;
        font-size: 2vw;
    }
    div#table main div#references{
        display: none;
        color:#05386b;
        font-family: 'Times New Roman', Times, serif;
        padding: 5vw;
    }
    div#table main div#references p, div#table main div#references table tr th, div#table main div#references table tr td p{
        font-size: 2vw;
    }
    div#table main div#references table{
        width: 100%;
        overflow: scroll;
    }
    div#table main div#references table tr th{
        font-weight: bold;
        text-align: center;
    }
    div#table main div#references table tr td p{
        padding-left: 2em;
        text-indent: -2em;
    }
    div#table main div#about{
        display:none;
        padding: 2vw;
        overflow-y: hidden;
    }
    div#table main div#about pre{
        white-space: pre-wrap;
        padding: 2vw;
        font-size: 1.5vw;
    }
    div#table main div#about canvas#littleGame, div#prompt{
        width: 60vw;
        margin: 5vw;
        overflow: hidden;

    }
    div#table main div#about div#prompt{
        background-color: rgba(255,255,255,0.5);
        text-align: center;
    }
    div#table main div#about div#prompt input[type="button"], div#table main div#about div#prompt span{
        display:block;
        margin: auto;
        font-size: 2vw;
    }
    div#table main div#contact{
        display:none;
        padding-bottom: 2vw;
    }
    div#table main div#contact::after{
        display: block;
        content: "";
        clear: both;
    }
    div#table main div#contact h1{
        display:block;
        text-align: center;
        font-size: 3vw;
        margin-top: 1vh;
    }
    div#table main div#contact form input, div#table main div#contact label, div#table main div#contact textarea{
        display:block;
        font-size: 2.5vw;
        margin:1vh auto 1vh auto;
        width:50vw
    }
    div#table main div#contact input[type="button"]{
        width: 25vw;
        float:right; 
        margin-right: 15vw;
    }
    div#table main div#contact textarea[name="content"]{
        height:50vh;
        text-align: top;
        resize: none;
        font-family: 'Courier New', Courier, monospace;
    }
    div#table main div#contact video#intro{
        width: 90%;
        margin: 5%;
        opacity: 1;
        animation-name: fadeIn;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    @keyframes fadeIn {
        0%{
            opacity: 0;
            width: 0%;
            margin: 50%;
        }
        100%{
            opacity: 1;
            width: 90%;
            margin:5%;
        }
    }
}